body {
	background-image: url("pics/website-background.jpg");
	font-family: 'Gabriela', serif;
}

h1 {
	color: #d3d3d3;
	text-align: center;
	font-size: 65px;
	font-weight: 900;
}

p {
	color: #d3d3d3;
	font-size: 45px;
	text-align: center;
}

.val {
	height: 50px;
	display: inline-block;
    margin: 1% auto;
    padding: 0 1%;
    font-size: 25px;
    background-color: #d3d3d3;
    border: none;
    border-radius: 8px;
    outline: none;
    width: 31%;
    font-family: 'Gabriela', serif;
}

#sub {
	display: block;
	margin: 1% auto;
	height: 50px;
	font-size: 38px;
	background-color: #d3d3d3;
	border: none;
	border-radius: 8px;
	outline: none;
	font-family: 'Gabriela', serif;
}

#results {
	color: #fff;
}

@media screen and (max-width: 910px) {
	.val {
		display: block;
		width: 50%;
		min-width: 192px;
	}
}

@media screen and (max-width: 555px) {
	.val {
		font-size: 18px;
	}
}